@page "/remittancesstatus"
@using Tasky.CustomerService.Customers;
@using Tasky.CustomerService.Customers.Dtos;
@using Tasky.Microservice.Shared.Dtos;
@using Tasky.RemittanceService.Localization;
@using Tasky.RemittanceService.Remittances;
@using Volo.Abp.MultiTenancy
@using Volo.Abp.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web
@using Volo.Abp.Application.Dtos
@using Microsoft.Extensions.Localization
@using Blazorise
@inherits TaskyComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Volo.Abp.DependencyInjection;
@using Microsoft.AspNetCore.Authorization
@inject AbpBlazorMessageLocalizerHelper<RemittanceServiceResource> LH
@inject IStringLocalizer<RemittanceServiceResource> L
@inject IRemittanceAppService RemittanceAppService

<Card>
        <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Remittances"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
               
            </Column>
        </Row>
    </CardHeader>

    <CardBody>
        <DataGrid TItem="RemittanceDto"
                  Data="RemittanceList"
                     Filterable
                     FilterMethod="DataGridFilterMethod.StartsWith"
                     Responsive
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  Sortable="true">
                  
            <DataGridColumns>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.SerialNumber)"
                                Caption="@L["SerialNumber"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.Amount)"
                                Caption="@L["Amount"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.TotalAmount)"
                                Caption="@L["TotalAmount"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.ReceiverFullName)"
                                Caption="@L["ReceiverFullName"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.CurrencyName)"
                                Caption="@L["Currency"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.SenderName)"
                                Caption="@L["SenderName"]"></DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.CreationTime)"
                                Caption="@L["CreationTime"]">
    <DisplayTemplate>
                        @context.CreationTime.ToString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                Field="@nameof(RemittanceDto.State)"
                                Caption="@L["State"]">
                                <DisplayTemplate>
              
                        @L[$"Enum:Remittance_Status:{(int)context.State}"]
                    </DisplayTemplate>
                            </DataGridColumn>
                <DataGridColumn TItem="RemittanceDto"
                                Field="@nameof(RemittanceDto.StatusDate)"
                                Caption="@L["StatusDate"]">
                    <DisplayTemplate>
                        @context.StatusDate.ToString()
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>